
@import abstracts/_mixins
@import abstracts/_variables
@import abstracts/_layout
@import components/components

#famille,
#ambition
    height: 75px
    width: 95%

#excentricite,
#crise
    height: 90px

#equipement
    height: 120px

#avantage
    @include textareaLined(22px, 20px)
    height: 45px